<div class="container">
  <div class="row row-cols-md-3">
    <div *ngFor="let personagem of personagens">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="{{ personagem.imagem }}"style="height:200px" class="card-img-top imagemPersonagem" alt="...">
            <h5 class="card-title">{{ personagem.nome }} - {{ personagem.cargo}}</h5>
            <p class="card-text">Filhos: {{ personagem.filhos}}</p>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-primary" (click)="saibaMais()">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h5 class="card-title">{{ personagem.nome }} - {{ personagem.cargo}}</h5>
        <p class="card-text">Filhos: {{ personagem.filhos}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>
</div>-->